.home-page {
  background-color: #202124; 
  color: #ffffff; 
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-section {
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

.title-section h1 {
  font-size: 48px; 
  margin-right: 10px; 
}

.title-section img {
  width: 75%;
  height: 75%;
  margin-bottom: 20px;
}

.subtitle-section {
  padding-bottom: 50px;
}

.section-box {
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.flow-box {
  background-color: #333; /* Color for the Pre-processing box */
  color: #fff; /* Text color */
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.custom-card {
  margin-bottom: 20px; /* Adjust spacing between rows of cards */
  width: 200px;
  height: 75px;
  transition: transform 0.2s ease-in-out; /* Add transition for smooth scaling */

}

.custom-card:hover {
  transform: scale(1.05); /* Scale the card slightly on hover */
  cursor: pointer;
}

.row .custom-card {
  margin-right: 20px; /* Adjust spacing between cards on the same row */
}

.row {
  display: flex;
  justify-content: center; /* Center the cards horizontally */
  align-items: center;
  margin-bottom: 20px; /* Adjust spacing between rows of cards */
}

.divider {
  border-top: 1px solid #fff; /* Adjust the color as needed */
  margin-top: 20px; /* Adjust margin as needed */
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center; 
  width: 100%; 
  bottom: 0; 
  left: 0; 
}
